/* Layout*/
.wrapper {
  overflow: auto;
  width: 970px;
  padding-bottom: 220px; }

.layout {
  width: 970px;
  display: inline-block;
  background-color: #fff;
  min-height: 700px;
  margin: 0 0 10px; }

.layout__col_left {
  float: left;
  width: 650px;
  position: relative; }
  .layout__col_left:after {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
    background-image: -webkit-linear-gradient(#e5e5e5, #ffffff);
    background-image: -moz-linear-gradient(#e5e5e5, #ffffff);
    background-image: -o-linear-gradient(#e5e5e5, #ffffff);
    background-image: linear-gradient(#e5e5e5, #ffffff);
    height: 380px;
    width: 5px;
    position: absolute;
    content: "";
    right: 0;
    top: 0; }
  .layout__col_left .col_left__wrapper {
    margin: 7px auto 0;
    display: block;
    width: 630px; }

.layout__col_right {
  float: right;
  width: 300px;
  padding: 10px; }
  .layout__col_right a {
    text-decoration: none; }
    .layout__col_right a:hover {
      text-decoration: underline; }

/* ASIDE */
.adv {
  padding: 0 30px;
  margin-bottom: 20px; }
  .adv a {
    display: block;
    height: 100%; }

.delo-ua {
  background: #f4f3e5;
  border: 1px solid #d5d5d5;
  margin-bottom: 20px; }
  .delo-ua h2 {
    margin: 5px; }
  .delo-ua li {
    padding: 5px;
    list-style: none;
    border-top: 1px solid #d5d5d5; }

.section-items {
  border: 1px solid #d5d5d5;
  margin-bottom: 20px; }
  .section-items h2 {
    margin: 5px; }
  .section-items li {
    overflow: hidden;
    position: relative;
    list-style: none;
    padding: 5px;
    border-top: 1px solid #d5d5d5;
    min-height: 72px; }

.section-items__fl {
  width: 106px;
  height: 70px;
  border: 1px solid #d5d5d5;
  position: absolute;
  top: 0;
  left: 0; }

.section-items__text {
  position: relative;
  padding-left: 115px; }

.comment-ico_section-items {
  margin-right: 4px; }

.section-items__date {
  font-size: 11px; }

.section-items__view {
  border-top: 1px solid #d5d5d5;
  padding: 7px; }
  .section-items__view a {
    color: #c8281e;
    text-decoration: none; }
    .section-items__view a:before {
      display: inline-block;
      content: "";
      margin-right: 5px;
      background: url('../img/icons-sf42bf712d6.png') 0 -413px no-repeat;
      width: 12px;
      height: 12px; }

.theme-topics {
  position: relative;
  border: 1px solid #d5d5d5;
  margin-bottom: 20px; }
  .theme-topics h2 {
    margin: 5px; }
  .theme-topics li {
    border-top: 1px solid #d5d5d5;
    list-style: none;
    min-height: 72px;
    overflow: hidden;
    padding: 5px;
    position: relative; }

.navi-btn {
  position: absolute;
  right: 5px;
  top: 7px; }

.navi-btn__prev {
  background: url('../img/icons-sf42bf712d6.png') 0 -183px no-repeat;
  width: 22px;
  height: 22px;
  display: inline-block;
  height: 22px;
  width: 22px; }

.navi-btn__next {
  background: url('../img/icons-sf42bf712d6.png') 0 -271px no-repeat;
  width: 22px;
  height: 22px;
  display: inline-block;
  height: 22px;
  width: 22px; }

.section-items__view_red {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2MWUxNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M4MjgxZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #961e16), color-stop(100%, #c8281e));
  background-image: -webkit-linear-gradient(#961e16, #c8281e);
  background-image: -moz-linear-gradient(#961e16, #c8281e);
  background-image: -o-linear-gradient(#961e16, #c8281e);
  background-image: linear-gradient(#961e16, #c8281e); }
  .section-items__view_red a {
    color: white; }
    .section-items__view_red a:before {
      background: url('../img/icons-sf42bf712d6.png') 0 -391px no-repeat;
      width: 12px;
      height: 12px; }
