@import "lib/base";
@import "lib/animations";
@import "lib/keyframes";

// gradients for ie
$experimental-support-for-svg: true;
// global sprites
$icons: sprite-map("icons/*.png", $spacing: 10px);

// base
$font: 11px;
$color: #378cb7;
$ca1: #000;
$link-double-border: #3fa7e9;
$border: #d5d5d5;
$date-time-tags: #999999;