@import "base";

/* Layout*/
.wrapper{
    overflow: auto;
    width: 970px;
    padding-bottom: 220px;
}

.layout{
	width: 970px;
	display: inline-block;
	background-color: #fff;
	min-height: 700px;
	margin: 0 0 10px;
}

.layout__col_left{
	float: left;
    width: 650px;
    position: relative;
	&:after{
		@include background-image(linear-gradient(#e5e5e5, #fff));
	    height: 380px;
	    width: 5px;
	    position: absolute;
		content: "";
	    right: 0;
	    top: 0;
	}
	.col_left__wrapper{
		margin: 7px auto 0;
		display: block;
		width: 630px;
	}
}

.layout__col_right{
	float: right;
	width: 300px;
	padding: 10px;
	a{
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}




/* ASIDE */

.adv{
	padding: 0 30px;
	margin-bottom: 20px;
	a{
		display: block;
		height: 100%;
	}
}

.delo-ua{
	background: #f4f3e5;
	border: 1px solid $border;
	margin-bottom: 20px;
	h2{
		margin: 5px;
	}
	li{
		padding: 5px;
		list-style: none;
		border-top: 1px solid $border;
	}
}

.section-items{
	border: 1px solid $border;
	margin-bottom: 20px;
	h2{
		margin: 5px;
	}
	li{
		overflow: hidden;
		position: relative;
		list-style: none;
		padding: 5px;
		border-top: 1px solid $border;
		min-height: 72px;
	}
}

.section-items__fl{
	width: 106px;
	height: 70px;
	border: 1px solid $border;
	position: absolute;
	top: 0;
	left: 0;
}
.section-items__text{
	position: relative;
	padding-left: 115px;
}
.comment-ico_section-items{
	margin-right: 4px;
}

.section-items__date{
	font-size: 11px;
}

.section-items__view{
	border-top: 1px solid $border;
	padding: 7px;
	a{
		color: $link2;
		text-decoration: none;
		&:before{
			display: inline-block;
			content: "";
			margin-right: 5px;
			@include sized-sprite($icons, view-ico);
		}
	}
}



.theme-topics{
	position: relative;
	border: 1px solid $border;
	margin-bottom: 20px;
	h2{
		margin: 5px;
	}
	li{
		border-top: 1px solid #D5D5D5;
	    list-style: none;
	    min-height: 72px;
	    overflow: hidden;
	    padding: 5px;
	    position: relative;
	}
}


.navi-btn{
	position: absolute;
	right: 5px;
    top: 7px;
}


.navi-btn__current{

}

.navi-btn__prev{
	@include sized-sprite($icons, navi-btn-prev);
    display: inline-block;
    height: 22px;
    width: 22px;
}

.navi-btn__next{
	@include sized-sprite($icons, navi-btn-next);
    display: inline-block;
    height: 22px;
    width: 22px;
}

.section-items__view_red{
	@include background-image(linear-gradient(#961e16, #c8281e));
	a{
		color: white;
		&:before{
			@include sized-sprite($icons, view-white-ico);
		}
	}
}