@import "base";

/* default layout */
.l{
	width: 100%;
	display: inline-block;
	background-color: #fff;
	min-height: 700px;

	.l-col1{
		position: relative;
		float:left;
		width: 60%;
		margin: 0 0 0 20px;
		&:after{
			@include background-image(linear-gradient(#e5e5e5, #fff));
			content: "";
		    height: 580px;
		    right: 0;
		    position: absolute;
		    width: 5px;
		}
	}

	.l-col2{
		float:right;
		width: 30%;
	}
}

